// src\styles\layout\_footer.scss
@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mx;
@use '../functions/breakpoints' as bp;

.footer {
    // background-color: var(--p-surface-900);
    padding: 1.5rem;
    border-radius: 1rem;
    max-width: vars.$max-width;
    margin-left: auto;
    margin-right: auto;
    // border: 1px solid var(--p-surface-700);
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

@media (max-width: 640px) {
    .footer-container {
        flex-direction: column;
    }
}

.footer-copyright {
    font-size: 0.875rem;
    color: var(--p-surface-400);
}

.footer-links {
    display: flex;
    gap: 1rem;
}

.footer-link {
    color: var(--p-surface-400);
    font-size: 0.875rem;
    transition: color 0.2s;
}

.footer-link:hover {
    color: var(--p-primary-500);
}

.footer-icon {
    font-size: 1.25rem;
}
