// src\styles\layout\_header.scss
@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mx;
@use '../functions/breakpoints' as bp;

#t-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.75rem;
    @include bp.media-breakpoint-only('xs') {
        padding: 0.5rem 1rem;
    }
    @include bp.media-breakpoint-up('sm') {
        padding: 1rem;
    }
}

#t-breadcrumb {
    background: inherit;
    padding: 0;

    .p-breadcrumb-list {
        display: flex;
        max-height: 4rem;
        align-items: center;
        gap: 0.5rem;
        padding: 0.6rem 1rem 0.6rem 0;
        text-transform: uppercase;
    }

    .p-breadcrumb-item {
        .pi {
        }
    }

    .p-breadcrumb-home-item {
    }

    .p-breadcrumb-item-link {
        gap: inherit;
    }

    .p-breadcrumb-separator {
    }

    .p-breadcrumb-item-icon {
    }
}
