// src\styles\layout\_topbar.scss
@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mx;
@use '../functions/breakpoints' as bp;

#t-topbar {
    gap: 1rem;
    align-items: center;

    @include bp.media-breakpoint-only('xs') {
        gap: 0;
    }

    button {
        aspect-ratio: 1 / 1 !important;
        width: 2.25rem;
        height: 2.25rem;
        align-items: center;
        justify-content: center;
        border-radius: 0.375rem;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 0.3s;
    }
}
