// src\styles\components\_chart.scss
@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mx;
@use '../functions/breakpoints' as bp;

.chart-header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem; // Reduced from 1rem
}

.chart-wrapper {
    width: 100%;
    overflow-x: auto;
    background: transparent !important;
}

.chart-container {
    position: relative;
    width: 100%;

    @include bp.media-breakpoint-only('xs') {
        height: 100vw;
    }
}

.p-chart,
#p-chart {
    height: 100%;
    width: 100%;
}

.chart-container {
    >.card {

        >div,
        canvas {
            width: 100%;
            height: 100%;
        }
    }

    @include bp.media-breakpoint-down('lg') {
        overflow-x: auto;
        /* 핵심: 가로 스크롤 활성화 */
        -webkit-overflow-scrolling: touch;
        /* iOS에서 부드러운 스크롤 */
        /* 차트의 최소 너비를 지정하여 찌그러지지 않게 함 */
        // > .card {
        //   min-width: 600px; /* 모바일에서 최소 너비 설정 */
        // }
    }

    @include bp.media-breakpoint-up('lg') {
        overflow-x: hidden;
    }
}

.t-chart {
    background-color: inherit !important;

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .p-tag {
            padding: var(--p-togglebutton-padding);
            font-size: 1rem;
        }
    }
}

.t-candlestick-chart {
    .p-card-body {
        padding: 0;
    }
}