// src\styles\pages\_auth.scss
@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mx;
@use '../functions/breakpoints' as bp;

#t-auth {
    display: flex;
    height: 100%;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
}
#t-mypage {
    height: 100%;
    overflow-y: auto;
    .p-tabview {
        display: flex;
        flex-direction: column;
        height: 100%;
        &-panels {
            height: 100%;
        }
    }
    .p-tabview-panels {
        padding: 0;
    }
}

#t-profile-settings {
    display: flex;
    align-items: center;
    justify-content: center;
    .p-card {
        height: 100%;
    }

    .t-auth {
        &-icon {
            width: auto;
            height: auto;
            padding: 1.5rem;
            aspect-ratio: 1 / 1;
            opacity: 1;
            span {
                font-size: 2rem;
            }
        }
    }
    .p-button-outlined {
        text-decoration: none;
    }
    .p-button-text {
        text-decoration: none;
    }
}

#t-bookmark {
    .p-datatable-table {
        input {
            width: 100%;
        }
    }
}
