// src\styles\pages\_stock.scss
@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mx;
@use '../functions/breakpoints' as bp;

// 주식 정보
#t-stock-header {
    // display: flex;
    // flex-direction: row;
    // gap: 1em;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    @include bp.media-breakpoint-only('xs') {
        grid-template-columns: repeat(3, 1fr);
    }
    gap: 0.5rem;

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    .status {
        position: relative;
        @include bp.media-breakpoint-only('sm') {
        }
        @include bp.media-breakpoint-only('md') {
        }
        @include bp.media-breakpoint-up('lg') {
        }
    }
    .p-card-body {
        position: relative;
        overflow: hidden;
        padding: 0rem;
        text-align: center;
        border-radius: 0.5rem;
        gap: 0.25rem;
    }
    .p-card-caption {
        padding-top: 0.75rem;
    }
    .p-card-title {
        font-size: 0.6rem;
    }
    .p-card-content {
        font-size: 1rem;
        padding-bottom: 0.75rem;
    }
    .p-card-footer {
        position: absolute;
        left: 0;
        top: 0;
        .p-tag {
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 0.5rem;
            .pi {
                font-size: 0.75rem;
            }
            @include bp.media-breakpoint-down('md') {
                width: auto;
                height: auto;
                padding: 0.5em;
                .pi {
                    font-size: 0.5rem;
                }
            }
        }
    }
}

.t-chart {
    @include bp.media-breakpoint-down('lg') {
        border-radius: 0;
        border: 0;

        .p-select {
            font-size: 0.7rem;
            max-width: 120px;
        }
    }

    @include bp.media-breakpoint-up('lg') {
        .p-card-body {
            padding: 0;
        }
        .p-select {
            max-width: 120px;
        }
    }

    @include bp.media-breakpoint-only('xs') {
        .p-card-body {
            padding: 0;
        }
    }
}

.t-history {
    .p-datatable {
        &-header-cell {
            padding: 0.5rem 0.25rem;
            font-size: 0.8rem;
        }
        &-column-header-content {
            text-align: center;
            justify-content: center;
        }

        &-tbody > tr > td {
            padding: 0.5rem 0.25rem;
            font-size: 0.8rem;
            text-align: center;
        }
    }
    .p-datatable-paginator-bottom {
        border-bottom: 0;
    }

    @include bp.media-breakpoint-only('xs') {
        .p-datatable-table {
            width: 600px;
        }
    }

    @include bp.media-breakpoint-down('lg') {
        border-radius: 0;
        border: 0;
        font-size: 0.7rem;

        .p-panel-content {
            padding: 0;
        }
    }
}

.t-stock-history {
    &-date {
        @include bp.media-breakpoint-only('xs') {
            width: 5rem;
        }
    }
    &-amount {
        @include bp.media-breakpoint-only('xs') {
            width: 5rem;
        }
    }
}

.p-timeline {
    gap: 0.5rem;
    &-event {
        min-height: auto !important;
        &-content {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-basis: 75%;
            justify-content: center;
            padding: 0;
            gap: 0.25rem;
        }
    }
    &-vertical.p-timeline-alternate .p-timeline-event:nth-child(even) {
        flex-direction: row !important;
    }
}
.timeline {
    &-dialog {
        width: 640px;
        .p-timeline {
            &-event {
                align-items: center;

                &-opposite {
                    flex-basis: 120px;
                    text-align: left !important;
                }
                &-separator {
                    flex-basis: 220px;
                    text-align: left !important;
                    .p-timeline-event-connector {
                        display: none;
                    }
                }
                &-content {
                    justify-content: flex-start;
                    flex-basis: 100%;
                }
            }
        }
    }
    &-drawer {
        .p-timeline {
            &-event {
                gap: 0.5rem;
                &-opposite {
                    flex-basis: 120px;
                    text-align: left !important;
                }
                &-separator {
                    flex-basis: 220px;
                    text-align: left !important;
                    .p-timeline-event-connector {
                        display: none;
                    }
                }
                &-content {
                    justify-content: flex-start;
                    flex-basis: 100%;
                }
            }
        }
    }
}
